<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de trabajo</title>
    <link rel="stylesheet" href="/src/public/css/ofertasTrabajo.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <span class="star">★</span> <span>Apex</span>
            </div>
        </nav>
    </header>

    <main>
        <section class="job-offers">
            <h1>"Ofertas Laborales: ¡El Puesto Ideal para Ti Está Aquí!"</h1>
            <div class="cards">
                <div class="card">
                    <img src="gerente.jpg" alt="Gerente de Desarrollo Organizacional">
                    <h2>Gerente de Desarrollo Organizacional</h2>
                    <p>Lidera iniciativas para mejorar la estructura y los procesos dentro de la organización.</p>
                </div>
                <div class="card">
                    <img src="talento.jpg" alt="Especialista en Gestión del Talento">
                    <h2>Especialista en Gestión del Talento</h2>
                    <p>Se encarga de identificar, y retener a los empleados con alto potencial dentro de la empresa, mediante estrategias de desarrollo profesional.</p>
                </div>
                <div class="card">
                    <img src="compensaciones.jpg" alt="Analista de Compensaciones y Beneficios">
                    <h2>Analista de Compensaciones y Beneficios</h2>
                    <p>Diseña y gestiona los paquetes de compensación, incluyendo salarios, bonificaciones y beneficios adicionales.</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>