<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                                                                                              
    <title>Vista Inial</title>
    <link rel="stylesheet" href="./css/vistaInicial.css">
    <header>
        <nav>
            <div class="logo">
                <img src="./img/logo.png">
            </div>
            <ul class="menu">
                <li><a href="#">inicio</a></li>
                <li><a href="#">/</a></li>
                <li><a href="#">sobre nosotros</a></li> 
                <li><a href="#">/</a></li>
                <li><a href="#">servicios</a></li>
                <li><a href="#">/</a></li>
                <li><a href="#">contacto</a></li>
                <li><a href="#">/</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="overlay">
            <img src="./img/vistaI.png">
        </div>
        <div class="hero-content">
            <h1>"Crecimiento y Estrategia Laboral"</h1>
            <p>Crecemos juntos: oportunidades de desarrollo personal y profesional para cada empleado</p>
            <a href="#" class="btn">iniciar sesión</a>
        </div>
    </section>

</body>
</html>