<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura</title>
    <link rel="stylesheet" href="/css/menu_barra_adminrh.css">
    <link rel="stylesheet" href="/css/crear_empleado.css">
    <link rel="stylesheet" href="/css/organizacional.css">
</head>
<body>
    <div class="container">
        <%- include("partials/menu_adminrh") %>
        <%- include("partials/barra_adminrh") %>
        
        <div class="contenido">
            <div class="he">
                
                <h1>Administraci贸n de Estructura Organizacional</h1>
                <button>Crear Permiso</button>
                <button>Ver Permiso</button>
            </div>

        <div class="section-container">
            <!-- Secci贸n Recursos Humanos -->
            <div class="section">
                <h2>Recursos Humanos</h2>
                <div class="role">
                    <p>Administrador</p>
                    <button>Responsabilidad</button>
                </div>
                <div class="role">
                    <p>Supervisor</p>
                    <button>Responsabilidad</button>
                </div>
                <div class="role">
                    <p>Entrevistador</p>
                    <button>Responsabilidad</button>
                </div>
                <div class="role">
                    <p>Reclutador</p>
                    <button>Responsabilidad</button>
                </div>
            </div>

            <!-- Secci贸n Inventario -->
            <div class="section">
                <h2>Inventario</h2>
                <div class="role">
                    <p>Encargado</p>
                    <button>Responsabilidad</button>
                </div>
            </div>

            <!-- Secci贸n Ventas -->
            <div class="section">
                <h2>Ventas</h2>
                <div class="role">
                    <p>Gerente</p>
                    <button>Responsabilidad</button>
                </div>
                <div class="role">
                    <p>Vendedor</p>
                    <button>Responsabilidad</button>
                </div>
            </div>
        </div>
        </div>
        
        
        
    </div>
    
</body>
</html>