<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <link rel="stylesheet" href="/css/principal_admin_rh.css">
    <link rel="stylesheet" href="/css/menu_barra_adminrh.css">
    <link rel="icon" href="/img/estrella-afilada-medio-trazo 1.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <%- include('partials/menu_adminrh') %>
        <%- include('partials/barra_adminrh') %>

        
        
        <div class="cont-fondo">
            <div class="cont-img">
                <img class="img-fondo" src="/img/fondo_principal.jpg" alt="">
            </div>
            <div class="cont-blur"></div>
            <h1 class="txt-bienvenida">ยก<span class="txt-admin">Admin</span>, bienvenido al sistema <img class="img-apex" src="/img/apex.png" alt=""> de recursos humanos!</h1>
        </div>
    </div>
    
</body>

</html>