<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <link rel="stylesheet" href="/css/menu_barra_adminrh.css">
    <link rel="stylesheet" href="/css/plan_compensacion.css">
    <link rel="icon" href="/img/estrella-afilada-medio-trazo 1.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <%- include('partials/menu_adminrh') %>
            <%- include('partials/barra_adminrh') %>
                <div class="cont-fondo">
                    <div class="cont-mit">
                        <div class="cont">
                            <div class="cont-tittle">
                                <h1 class="tittle">Planes de Compensación</h1>
                                <button class="btn-crear-plan" id="openModalPlan">Crear Plan</button>
                            </div>
                            <div class="cont-users">
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button class="btn-edit" id="openModalEdit">Editar</button>
                                        <button class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button class="btn-edit" id="openModalEdit">Editar</button>
                                        <button class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button class="btn-edit" id="openModalEdit">Editar</button>
                                        <button class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button class="btn-edit" id="openModalEdit">Editar</button>
                                        <button class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button class="btn-edit" id="openModalEdit">Editar</button>
                                        <button class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button class="btn-edit" id="openModalEdit">Editar</button>
                                        <button class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modalPlan" class="modal">
                        <div class="modal-content">
                            <h2>Crear Plan</h2>
                            <form action="" id="crearPlan" class="form-plan">
                            <input class="inp-plan" type="text" name="cedula" id="cedula" placeholder="Número de cédula">
                            <input class="inp-plan" type="number" name="salario" id="salario" placeholder="Salario Base">
                            <input class="inp-plan" type="number" name="bonificaciones" id="bonificaciones" placeholder="Bonificaciones">
                            <input class="inp-plan" type="number" name="incentivos" id="incentivos" placeholder="Incentivos">
                            <input class="inp-plan" type="number" name="tiempoLibre" id="tiempoLibre" placeholder="Tiempo Libre Pagado">
                            <div class="cont-btns-plan">
                                <button id="closeModalPlan" class="btn-cancel">Cancelar</button>
                                <button type="submit" class="btn-crear">Crear</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div id="modalEdit" class="modal">
                        <div class="modal-content-edit">
                            <h2>Editar Plan</h2>
                            <form action="" id="editarPlan" class="form-plan">
                            <input class="inp-plan" type="number" name="salario" id="salario" placeholder="Salario Base">
                            <input class="inp-plan" type="number" name="bonificaciones" id="bonificaciones" placeholder="Bonificaciones">
                            <input class="inp-plan" type="number" name="incentivos" id="incentivos" placeholder="Incentivos">
                            <input class="inp-plan" type="number" name="tiempoLibre" id="tiempoLibre" placeholder="Tiempo Libre Pagado">
                            <div class="cont-btns-plan">
                                <button id="closeModalEdit" class="btn-cancel">Cancelar</button>
                                <button type="submit" class="btn-crear">Guardar</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
    <script src="/js/plan_compensacion.js"></script>
</body>

</html>