<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <link rel="stylesheet" href="/css/menu_barra_adminrh.css">
    <link rel="stylesheet" href="/css/plan_compensacion.css">
    <link rel="icon" href="/img/estrella-afilada-medio-trazo 1.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <%- include('partials/menu_adminrh') %>
            <%- include('partials/barra_adminrh') %>
                <div class="cont-fondo">
                    <div class="cont-mit">
                        <div class="cont">
                            <div class="cont-tittle">
                                <h1 class="tittle">Planes de Compensación</h1>
                                <button class="btn-crear-plan" id="openModal">Crear Plan</button>
                            </div>
                            <div class="cont-users">
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button id="openModal" class="btn-edit">Editar</button>
                                        <button id="openModal" class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button id="openModal" class="btn-edit">Editar</button>
                                        <button id="openModal" class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button id="openModal" class="btn-edit">Editar</button>
                                        <button id="openModal" class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button id="openModal" class="btn-edit">Editar</button>
                                        <button id="openModal" class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button id="openModal" class="btn-edit">Editar</button>
                                        <button id="openModal" class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                                <div class="users">
                                    <h3 class="tittle-users">Jhoan Salvaje</h3>
                                    <div class="cont-txt">
                                        <p class="txt-users">Salario Base:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Bonificaciones:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Incentivos:<span class="spn-users">99999</span></p>
                                        <p class="txt-users">Tiempo Libre Pagado:<span class="spn-users">99999</span>
                                        </p>
                                    </div>
                                    <div class="cont-btns">
                                        <button id="openModal" class="btn-edit">Editar</button>
                                        <button id="openModal" class="btn-delete">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span id="closeModal" class="close">&times;</span>
                            <p>Este es el contenido de la ventana emergente</p>
                        </div>
                    </div>
                </div>
    </div>
    <script>
        document.getElementById('openModal').addEventListener('click', function () {
            document.getElementById('modal').style.display = 'flex';
        });
        document.getElementById('closeModal').addEventListener('click', function () {
            document.getElementById('modal').style.display = 'none';
        });
    </script>
</body>

</html>