<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicar ofertas de trabajo</title>
    <link rel="stylesheet" href="./css/aplicarOfertas.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="./img/logo.png">
            </div>
            <h1>"Ofertas Laborales: ¡El Puesto Ideal para Ti Está Aquí!"</h1>
        </nav>
    </header>

    <div class="content">
        <div class="card1">
            <img src="./img/img2.png" alt="Especialista en Gestión del Talento">
            <h3>Especialista en Gestión del Talento</h3>
            <p>
                El especialista en gestión del talento tiene un papel multidimensional, ya que debe equilibrar tanto los objetivos estratégicos del negocio como el bienestar y el desarrollo de los empleados. Es un rol que combina habilidades en recursos humanos, liderazgo, análisis de datos y planificación estratégica para lograr que las personas y las organizaciones alcancen su máximo potencial.
            </p>
        </div>
        <div class="card2">
            <h3>Funciones</h3>
            <ul>
                <li>Atracción y Reclutamiento de Talento</li>
                <li>Gestión del Desempeño</li>
                <li>Desarrollo y Capacitación</li>
                <li>Retención de Talento</li>
                <li>Planificación de Sucesión</li>
                <li>Bienestar y Cultura Organizacional</li>
                <li>Cumplimiento Normativo y Políticas de Recursos Humanos</li>
            </ul>
        </div>
    </div>
    <div class="apply-button">
        <a href="#">Aplicar</a>
    </div>
</div>
       
</body>
</html>