<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex - Gestionar Programas de Pasantías</title>
    <link rel="stylesheet" href="/css/menu_barra_adminrh.css">
    <link rel="stylesheet" href="/css/pasantias.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/img/estrella-afilada-medio-trazo 1.png" type="image/x-icon">
</head>
<body>
    <%- include('partials/menu_adminrh') %>
    <%- include('partials/barra_adminrh') %>

    <div class="container">
        <div class="header-container">
            <h1>Gestionar Programas de Pasantías</h1>
            <button id="createProgramBtn" class="primary">Crear Programa</button>
        </div>
        <div id="programs" class="programs"></div>
    </div>

    <div id="createProgramModal" class="modal">
        <div class="modal-content">
            <h2>Crear Programa</h2>
            <input type="text" id="programName" placeholder="Nombre de la Pasantía">
            <textarea id="programDescription" placeholder="Descripción"></textarea>
            <div class="modal-buttons">
                <button id="cancelCreateBtn" class="secondary">Cancelar</button>
                <button id="confirmCreateBtn" class="primary">Crear</button>
            </div>
        </div>
    </div>

    <script src="/js/pasantias.js"></script>
</body>
</html>