<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/pago.css">
  <link rel="stylesheet" href="/css/horas.css">
  <title>Empleado</title>
</head>
<body>
  <%- include('partials/sidebar') %>
  <div class="content principal">
    <%- include('partials/navbar') %>
    
    <div class="container">
      <div class="contenedor">
        <h1>Registrar Horas Trabajadas</h1>
        <div class="hInicio">
          <p>Hora de Inicio:</p>
          <input type="time" class="form-control horaInicio">
        </div>
        <div class="hInicio">
          <p>Hora de Finalización:</p>
          <input type="time" class="form-control horaFin">
        </div>
        <button class="btn btn-guardar">Guardar</button>
      </div> 
    </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/horas.js"></script>
</body>
</html>
