body {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    overflow-y: auto;
}

.principal {
    position: relative;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.container{
    width: 1020px;
    height: 500px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1fr 6fr;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #C8CBE0;
    border-radius: 15px;
}

.boton{
    width: 90px;
    height: 40px;
    background-color: transparent;
    color: #5064F0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.boton:hover {
    background-color: #FFFFFF;
}
.boton:focus{
    outline: none;
}   

.titulo{
    width: 1000px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 5px;
}

.contenido{
    display: flex;
    margin: 5px;
    margin-top: -25px;
    justify-content: center;
    width: 1000px;
    height: 370px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.cargar{
    width: 940px;
    height: 320px;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cancelar{
    width: 90px;
    height: 40px;
    background-color: transparent;
    color: #5064F0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: absolute; 
    margin-top: -95px;
    margin-left: 890px;
}
.cancelar:hover {
    background-color: #ffffff;
}
.cancelar:focus{
    outline: none;
} 



.upload-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    position: absolute;
    margin-top: -180px;
}

.upload-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: 120px;
    font-weight: bold;
}

.upload-btn:hover {
    background-color: #0056b3;
}

.file-input {
    display: none;
}

.file-types {
    color: #6c757d;
    font-size: 14px;
    position:absolute;
    margin-top: 250px;
    font-weight: bold;
}

.title{
    font-weight: bold;
}


