* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f3f3f3;
}


.contenido_fondo {
    width: 85%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;

    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
}

/* ESTILOS DEL NAVBAR Y SIDEBAR */
.apex {
    margin-top: 20px;
    margin-bottom: 15px;
    text-decoration: none;
}

.fs-4 {
    color: white;
    font-weight: bold;
}


/* ESTILOS DEL NAVBAR Y SIDEBAR */
.salir:hover{
    width: 40px;
    height: 40px;
}

.contenedor_cajas {
    padding: 20px;
    overflow-y: auto;

}

.caja {
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 90px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 20px;
}

.flecha{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.flecha_ventana{
    width: 7%;
    height: 30%;
}
.flecha_ventana:hover{
    filter: drop-shadow(
  10px 10px 15px rgba(0, 0, 255, 1)
);
}

.titulo, .text{
    font-size: 18px;
}


/* Estilos del modal */
.modal {
    display: none; /* Oculto inicialmente */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 15px; /* Bordes redondeados */
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    position: relative;
    animation: abrirModal 0.3s ease-out; /* Animación de apertura */
}

@keyframes abrirModal {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.cerrar {
    color: #333;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cerrar:hover,
.cerrar:focus {
    color: #ff4c4c; /* Cambia a rojo al pasar el mouse */
}

/* Estilos del contenido */
#modal-titulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#modal-info {
    margin-bottom: 15px;
    color: #666;
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4c6baf; /* Color del botón */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0f28b4; /* Color al pasar el mouse */
}