* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.cont-fondo{
    padding-bottom: 15px;
}

.cabecera {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tittle {
    font-size: 30px;
    color: #2B2C33;
    margin-left: 280px;
    margin-top: 20px;
}

.btn-crear-empleado {
    width: 180px;
    height: 43px;
    border-radius: 13px;
    background-color: #139C31;
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    transition: all ease 0.5s;
}

.btn-crear-empleado:hover {
    transform: scale(1.05);
}

/* Tabla */

.cont-tabla {
    margin-left: 280px;
    margin-top: 20px;
}

.tabla {
    border-collapse: collapse;
    border-spacing: 0;
    width: 963px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px; 
}

.cabecera-tabla {
    background-color: #1E3DEA;
    height: 50px;
    color: white;
}

.column-2,
.column-1 {
    height: 50px;
    color: #2B2C33;
    text-align: center;
    background-color: #C8CBE0;
}

.column-2 {
    background-color: #A1A6CA;
}

/* Apartado para estilo de botones de vista en nomina */

.tabla-nomina{
    width: 1100px;
}

.btn-desaprovar,
.btn-aprovar{
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: #00000000;
    border: 1.5px solid #1E3DEA;
    color: #1E3DEA;
    font-weight: bold;
    font-size: 14px;
    transition: all ease 0.5s;
}

.btn-desaprovar{
    border: 1.5px solid #C90000;
    color: #C90000;
    margin-left: 10px;
}

.btn-aprovar:hover{
    background-color: rgba(30, 61, 234, 0.15);
}

.btn-desaprovar:hover{
    background-color: rgba(201, 0, 0, 0.15);
}