/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    height: 110px;
    background-color: #334bd7;
    padding: 20px 0;
    text-align: center;
    
}

nav .logo img {
    width: 150px;
    height: 50px;
    font-size: 2em;
    display: flex;
    margin: 0px 20px;
}



/* Sección de ofertas laborales */
main {
    padding: 50px 20px;  
    text-align: center;
    background-color: #f0f0f0;
}

.job-offers h1 {
    font-size: 1.7em;
    color: #333;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #334bd7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    text-align:center;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.3em;
    margin: 15px 0;
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}

.card p {
    font-size: 1em;
    color: #fffdfd;
}

.card:hover {
    transform: translateY(-10px);
}
