* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.contenido{
    margin-top:70px;
    margin-left: 225px;
}
.he{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.section-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section {
    background-color: #e0e7ff;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #3b82f6;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.role {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.role p {
    font-size: 16px;
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #2563eb;
}
