body {
    display: flex;
  }
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    overflow-y: auto;
}
.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal {
    padding: 0px;
}
.apex{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
.contenedor{
    width: 100%;
    height: 85vh;
    background: #C8CBE0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.titulo{
    width: 1200px;
    height: 80px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.titulo > .separador > .opcion > .nav1{
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.contenedorg{
    width: 1200px;
    height: 700px;
    margin-top: 5px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
}
.contenido2 {
    display: none;
}
.titulo > .separador > .opcion > .line{
    height: 4px;
    width: auto;
    border-radius: 0px;
    margin: 0px;
    background-color: blue;
}
.titulo > .separador > .opcion{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}
.separador{
    display: flex;
}
.solicitar_info{
    text-decoration: none;
    color: #fff;
    height: auto;
    width: auto;
    padding: 10px;
    background: #5064F0;
    border-radius: 15px;
}
.contenedor_cuenta{
    height: auto;
    width: auto;
    max-width: 320px;
    padding: 15px;
    border: 1px solid #BAB0B0;
    border-radius: 15px;
    margin: 10px;
}
.razon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.censura{
    height: auto;
    width: auto;
    padding: 2px;
    display: flex;
    background: #C8CBE0;
    border-radius: 15px;
}
.tiendas{
    text-decoration: none;
    font-weight: bold;
}
.pagos{
    height: 60px;
}

.tabla-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
}

table {
    width: 100%;
    border: 1px solid #C8CBE0;
    border-collapse: collapse;
    font-size: 16px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f0f0f0;
    color: #333;
}

.badge {
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
}

.badge.en-proceso {
    background-color: #ffc107;
}

.badge.completada {
    background-color: #28a745;
}

.badge.rechazada {
    background-color: #dc3545;
}
