body {
    display: flex;
  }
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    overflow-y: auto;
}
.container{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bienvenida{
    color: white;
}
.principal {
    position: relative;
    padding: 0px;
    background-image: url('../img/pexels-olia-danilevich-8145335.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.principal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.apex{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
.apexx {
    color: blue;
    text-shadow: -1px -1px 0 #fff,  1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
