* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% 94%;
}

.cont-fondo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-blur{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
    background-color: rgba(51, 53, 65, 0.7);
}

.cont-img{
    width: 84%;
    margin-left: 18%;
}

.img-fondo {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.txt-bienvenida{
    width: 40%;
    margin-left: 18%;
    margin-top: -4%;
    color: white;
    font-size: 50px;
    font-weight: 450;
    text-align: center;
    position: absolute;
}

.txt-admin{
    font-weight: 600;
}

.img-apex{
    width: 140px;
}