* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body{
  overflow: hidden;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
}

.table-container {
  width: 90%;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Scrollbar personalizado */
.table-container::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo del track */
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #394dc0; /* Color del scrollbar (azul) */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #f1f1f1; /* Espacio alrededor del scrollbar */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #2d3a8b; /* Color del scrollbar al pasar el ratón */
}

/* Para Firefox */
.table-container {
  scrollbar-color: #394dc0 #f1f1f1; /* Color del thumb y track en Firefox */
  scrollbar-width: thin; /* Ancho del scrollbar en Firefox */
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #394dc0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

td:nth-child(6) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* aprobar */
.btn_aprobar {
  background-color: #1cc038;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #1cc038;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
  display: block;
  /* margin: 5px 0; */
}

.btn_aprobar span:last-child {
  display: none;
}

.btn_aprobar:hover {
  transition: .4s;
  border: 2px dashed #1cc038;
  background-color: #fff;
  color: #1cc038;
}

.btn_aprobar:active {
  background-color: #1cc038;
}