
<div class="cont-barra-superior">
    <div class="cont-icons">
        <button class="icon-notis">
            <img src="/img/notificar.png" alt="" class="img-notis">
        </button>
        <button class="icon-cuenta">
            <img src="/img/perfil.png" alt="" class="img-cuenta">
        </button>
    </div>
</div>