<div class="cont-menu">
    <div class="cont-logo">
        <img class="img-logo" src="/img/estrella-afilada-medio-trazo 1.png" alt="Apex-Logo">
        <h1 class="nom-logo">Apex</h1>
    </div>
    <ul class="cont-opciones">
        <li><a href="#">Encuestas</a></li>
        <li><a href="#">Empleados</a></li>
        <li><a href="#">Estructura Organizacional</a></li>
        <li><a href="#">Nómina</a></li>
        <li><a href="#">Permisos</a></li>
        <li><a href="#">Planes</a></li>
        <li><a href="#">Políticas</a></li>
        <li><a href="#">Programas</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Reclutamiento y Contratos</a></li>
        <li><a href="#">Solicitudes Bancarias</a></li>
    </ul>
    <div class="cont-cuenta">
        <p class="nom-cuenta">Administrador</p>
        <p class="correo-cuenta">administrador_RH2024@gmail.com</p>
    </div>
</div>