<nav class="nav-arriba">
  <div class="">
    <div class="navbar" id="">
      <ul class="menu">
        <li class="opc">
          <a class="navicon" aria-current="page" href="#"><i class="fa-regular fa-bell"></i></a>
        </li>
        <li class="opc">
          <a class="navicon" aria-current="page" href="#"><i class="fa-regular fa-user open-popup-button"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <style>
    .navicon{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color:#fff;
      width: 50px;
    }
    .navicon > i{
      font-size: 20px;
      margin-right: 5px;
    }
    .nav-arriba{
      display: flex;
      justify-content: flex-end;
      background: #394DC0;
      margin-top: 0px;
      color: white;
      height: 35px;
    }
    .navbar{
      display: flex;
    }
    .menu{
      display: flex;
    }
    /* .opc{
      margin: 10px;
    } */
  </style>

<%- include('popup_perfil') %>
  