<!-- Ventana emergente perfil -->
<div class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close-button">&times;</span>
        <div class="popup-header">
            <img src="/img/perfil_cuenta.png" width="60px">
            <h2>¡Hola, Carolina!</h2>
        </div>
        <div class="popup-body">
            <p>
                El especialista de inventario es un perfil logístico que se encarga de: Desarrollar y aplicar estrategias para asegurar los niveles óptimos de stock...
            </p>
            <button class="account-button">Administrar tu Cuenta</button>
        </div>
    </div>
</div>

<!-- css  -->
<link rel="stylesheet" href="/css/popup_perfil.css">

<!-- javascript  -->
<script src="/js/popup_perfil.js"></script>
