<div class="nav">
  <a href="/principal" class="apex">
    <span class="fs-4"><img class="logo" src="../img/estrella-afilada-medio-trazo 1.png" alt=""> Apex</span>
  </a>
  <ul class="lista">
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-regular fa-newspaper"></i>
        Informes
      </a>
    </li>
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-solid fa-clock-rotate-left"></i>
        Registrar Horas
      </a>
    </li>
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-solid fa-users"></i>
        Nomina
      </a>
    </li>
    <li class="opciones">
      <a href="/empleado/solicitud-permiso-ausencia" class="opcion">
        <i class="fa-regular fa-bell"></i>
        Permisos
      </a>
    </li>
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-regular fa-heart"></i>
        Beneficios
      </a>
    </li>
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-solid fa-chart-column"></i>
        Desempeño
      </a>
    </li>
    <span class="line"></span>
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-solid fa-house-laptop"></i>
        Trabajo Remoto
      </a>
    </li>
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-solid fa-users"></i>
        Clima Laboral
      </a>
    </li>
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-regular fa-circle-question"></i>
        Ayuda
      </a>
    </li>
    <span class="line"></span>
    <li class="opciones">
      <a href="#" class="opcion">
        <i class="fa-solid fa-power-off"></i>
        Cerrar Sesión
      </a>
    </li>
  </ul>
</div>

<style>
  * {
    overflow: hidden;
    padding: 0px;
  }

  .logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

  .opciones {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .lista {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
  }

  .opcion {
    color: white;
    text-decoration: none;
    height: 25px;
    width: 150px;
    margin: 10px;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  i {
    margin-right: 10px;
  }

  .nav {
    width: 250px;
    height: 100vh;
    background: #394DC0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    width: 250px;
    height: 1.5px;
    background: white;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
